<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>
    <%- include('./partials/header')%>
    <main>
        <h1 class="nombre">BIENVENIDOS A PAPELERIA COPY</h1>
        <h2 class="subtitulo">Tengan una buena estadia por nuestro catalogo de productos</h2>
        
        <div class="cajaBoton">
            <a href="/productos/lista">Ver Catálogo</a>
        </div>
    </main>
</body>
</html>