  <article class="caja">
    <img class="caja-img" src="/images/<%= productos.imagen%>" alt="...">
    <h3 class="caja-text">
      <%= productos.nombreProducto %>
    </h3>
    <p class="caja-precio">
     $ <%= productos.precio %>
    </p>
    <p class="caja-detail">
      <%= productos.detalle %>
    </p>
  </article>